.card {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0 20px;
  color: black;
  opacity: 1;
  transition: 0.3s ease-in;
  & p {
    font-weight: 300;
  }
}

.card:hover {
  opacity: 0.9;
}

.card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 5px;
  margin: 0;
}
